
.box {  
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;    
    position: sticky;
    top: 0;      
    background-color:rgb(30, 52, 76); 
    margin-bottom: 25px;   
    padding: 16px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);   

    &__item {
        width: 100%;
        height: 90px;          
        color: $colorText;           
        display: flex;  
        @include border;    
        align-items: center;        
        font-size: 2rem;  
        padding: 0 16px 0 16px;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

.box__item:hover{
    background-color: rgba(124, 161, 165, 0.9);
    transition: .2s;
    color: #141618;    
}
.active{
    background-color: rgba(124, 161, 165, 0.9);   
    transition: .2s ease;    
    // color: rgb(197, 221, 242);
    color: white;

}
.png {
    width: 50px;     
    transition: filter 0.3s ease;     
}
  
.box__item:hover .png {
    filter: invert(1); 
}
  
.box__item.active .png {
    filter: invert(1); 
}


@media screen and (max-width: 1120px){
    .box{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 8px;
    }
    .box__item{       
        height: 70px; 
    }
}

@media screen and (max-width: 1098px){
    .box{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 8px;
    }
    .box__item{       
        height: 70px; 
    }
}

@media screen and (max-width: 745px){
    .box{
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        gap: 6px;
        padding: 8px 0 8px 0;        
    }  
    .box__item{       
        height: 50px; 
    } 
    .png {
        width: 35px;   
    } 
    
}

@media screen and (max-width: 495px){
    .box{
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); 
        margin-bottom: 8px;         
    }        
}

@media screen and (max-width: 425px) {
    .box{
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        gap: 4px;
        padding: 6px 0 0 6px;
        &__item{
            justify-content: space-around;  
        }
        .png {
            width: 35px;   
        } 
    }        
    
}